body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../static/image/doctor.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;  
    background-repeat: no-repeat;  
    background-position: center;  
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
}

h2  {
text-align: center;
}
.container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
}

.input-group {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background: #0056b3;
}

